= form_with model: @post, class: :form, local: true do |f|
  = f.text_field :title, placeholder: :タイトル , class: :form__title
  = f.text_area :content ,placeholder: :本文, class: :form__text
  = f.submit '投稿する' ,class: :form__btn